@font-face{
    font-family: 'Aller-bold';
    src: url("assets/fonts/aller_bd-webfont.woff" ) format('woff');
}

@font-face{
    font-family: 'Aller-bold-italico';
    src: url(assets/fonts/aller_bdit-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Aller-italico';
    src: url(assets/fonts/aller_it-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Aller-light';
    src: url(assets/fonts/aller_lt-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Aller-light-italico';
    src: url(assets/fonts/aller_ltit-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Aller-regular';
    src: url(assets/fonts/aller_rg-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Asap-bold';
    src: url(assets/fonts/asap-bold-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Asap-bold-italico';
    src: url(assets/fonts/asap-bolditalic-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Asap-italico';
    src: url(assets/fonts/asap-italic-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Asap-medio';
    src: url(assets/fonts/asap-medium-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Asap-regular';
    src: url(assets/fonts/asap-regular-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Asap-semibold';
    src: url(assets/fonts/asap-semibold-webfont.woff) format('woff');
}

:root {
    --padding-padrao: 10px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* ----- PARTE 1 ----------------------------------------- */
.parte-1{
    background: linear-gradient(135deg, #215caa, #7a60c5);
    padding-top: var(--padding-padrao);
    padding-bottom: var(--padding-padrao); 
}
.oque-somos, .gif{
    border: 5px solid white;
    color: white;
    padding: 50px;
    width: 50%;
}
.oque-somos > h1{
    font-family: "Aller-bold";
    font-size: 50px;
    padding: 15px;
}
.oque-somos > p{
    font-family: "Aller-regular";
    font-size: 25px;
    margin: 15px;
}
.gif > img{
    width: 90%;
    margin: auto;
    display: block;
} 
.parte1-grupo1 {
    display: flex;
    width: 90vw;
    margin: 40px auto;
}
.parte1-grupo2{
    display: flex;
    width: 90vw;
    margin: 50px auto;
}
.quem-funciona, .usar-fazer{
    border: 5px solid white;
    color: white;
    padding: 50px;
    width: 50%;
}
.quem-funciona > h1{
    font-family: "Aller-bold";
    font-size: 50px;
    padding: 15px;
}
.quem-funciona > p{
    font-family: "Aller-italico";
    font-size: 25px;
    margin: 15px;
}
.usar-fazer > h1{
    font-family: "Aller-bold";
    font-size: 50px;
    padding: 15px;
}
.usar-fazer > p{
    font-family: "Aller-italico";
    font-size: 25px;
    margin: 15px;
}
.parte1-grupo3{
    display: flex;
    width: 90vw;
    margin: 50px auto;
}
.valores{
    border: 5px solid white;
    color: white;
    padding: 50px;
    width: 100%;
}
.valores > h1{
    font-family: "Aller-bold";
    font-size: 60px;
    padding: 15px;
    text-align: center;
}
.gifs-valores{
    margin: 5% auto;
    text-align: center;
}
.div-inclusao, .div-coop, .div-fac{
    width: 100%;
    margin: auto;
    display: inline-block;
    padding: 5%;
}
.gifs-valores .inclusao{
    margin: auto;
    height: 150px;
}
.texto-inclusao, .texto-coop, .texto-fac{
    display: inline-block;
    text-align: center;
    font-family: "Aller-regular";
    position: relative;
    font-size: 30px;
}
.gifs-valores{
    display: flex;
    align-items: center;
}
.gifs-valores .cooperacao{
    margin: auto;
    width: 150px;
    height: 150px;

}
.gifs-valores .logo{
    margin: auto;
    height: 150px;
    width: 150px;
}
.parte1-grupo4{
    display: flex;
    width: 90vw;
    margin: 50px auto;
}
.diretores{
    border: 5px solid white;
    color: white;
    padding: 50px;
    width: 100%;
}
.fotos{
    margin: 5% auto;
    text-align: center;
}
.diretores > h1{
    font-family: "Aller-bold";
    font-size: 50px;
    padding: 15px;
    text-align: center;
}

.erisson > img{
    width: 150px;
    border-radius: 500px;
}
.juliana > img{
    width: 150px;
    border-radius: 500px;
}
.agacy > img{
    width: 150px;
    border-radius: 500px;
}
.carol > img{
    width: 150px;
    border-radius: 500px;
}
.agacy, .juliana, .erisson, .carol{
    display: inline-block;
    padding: 5%;
}
.agacy > .nome{
    display: block;
    text-align: center;
    font-family: "Aller-bold";

}
.agacy > .link{
    display: block;
    text-align: center;
    font-family: "Aller-italico";
}
.erisson > .nome{
    display: block;
    text-align: center;
    font-family: "Aller-bold";
}
.erisson > .link{
    display: block;
    text-align: center;
    font-family: "Aller-italico";
}
.juliana > .nome{
    display: block;
    text-align: center;
    font-family: "Aller-bold";
}
.juliana > .link{
    display: block;
    text-align: center;
    font-family: "Aller-italico";
}
.carol > .nome{
    display: block;
    text-align: center;
    font-family: "Aller-bold";
}
.carol > .link{
    display: block;
    text-align: center;
    font-family: "Aller-italico";
}
.fundo{
    position: absolute;
    width: 100%;
    height: 10;
    opacity: 0.1;
    filter: alpha(opacity=10);
}

/* ----- PARTE 2 ------------------------------- */


/* -------- PARTE 3 ------------------------------- */

.parte-3{
    background: linear-gradient(135deg, #8e186e, #ff7376);
    padding-top: var(--padding-padrao);
    padding-bottom: var(--padding-padrao); 
}
.parte3-grupo1 {
    display: flex;
    width: 90vw;
    height: 500px;
    margin: 40px auto;
    border: 5px solid white;
    background-image: url(./assets/images/ondas\ com\ fundo\ transparente.png);

}
.elementos{
    width: 100%;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.elementos > h1{
    font-family: "Aller-bold";
    font-size: 60px;
    padding: 15px;
    color: white;
}
.parte3-grupo2{
    display: flex;
    width: 90vw;
    margin: 40px auto;
}
.tipografia, .exemplo-tipografia{
    border: 5px solid white;
    color: white;
    padding: 50px;
    width: 50%;
}
.tipografia > h1{
    font-family: "Aller-bold";
    font-size: 50px;
    padding: 15px;
}
.tipografia > p{
    font-family: "Aller-regular";
    font-size: 25px;
    margin: 15px;
}
.exemplo-tipografia > img{
    width: 90%;
    margin: auto;
    display: block;
} 
.parte3-grupo3{
    display: flex;
    width: 90vw;
    margin: 40px auto;
    border: 5px solid white;

}
.texto, .exemplo-cores{
    color: white;
    padding: 50px;
    width: 50%;
}
.texto{
    align-content: center;
    width: 50%;
    margin: auto;
}
.texto> h1{
    font-family: "Aller-bold";
    font-size: 50px;
    padding: 15px;
}
.texto > p{
    font-family: "Aller-regular";
    font-size: 25px;
    margin: 15px;
}

.exemplo-cores > img{
    width: 90%;
    margin: auto;
    display: block;
} 

.parte3-grupo4{
    display: flex;
    width: 90vw;
    margin: 40px auto;
    border: 5px solid white;

}
.texto-grafismos, .exemplos-grafismos{
    color: white;
    padding: 50px;
    width: 50%;
}
.texto-grafismos{
    align-content: center;
    width: 50%;
    margin: auto;
}
.texto-grafismos> h1{
    font-family: "Aller-bold";
    font-size: 50px;
    padding: 15px;
}
.texto-grafismos > p{
    font-family: "Aller-regular";
    font-size: 25px;
    margin: 15px;
}
.exemplos-grafismos > img{
    width: 90%;
    margin: auto;
    display: block;
} 

/* ----- PARTE 4 ------------------------------- */

/* ----- PARTE 5 ------------------------------- */

.parte-5{
    background: linear-gradient(135deg,#48c0b6, #215caa);
    padding-top: var(--padding-padrao);
    padding-bottom: var(--padding-padrao); 

}
.parte5-grupo1 {
    display: flex;
    width: 90vw;
    height: 600px;
    margin: 40px auto;
}
.titulo-sound{
    width: 100%;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo-sound > h1{
    font-family: "Aller-bold";
    font-size: 60px;
    padding: 15px;
    color: white;
}

.texto-sound{
    display: flex;
    width: 90vw;
    height: 600px;
    margin: 40px auto;
}
.textinho{
    width: 100%;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.textinho > p{
    font-family: "Aller-regular";
    font-size: 20px;
    margin: 15px;
    color: white;
}
.texto-sound > img{
    height: 500px;
    opacity: 0.1;
    filter: alpha(opacity=10);
}