@font-face{
    font-family: 'Aller-bold';
    src: url(assets/fonts/aller_bd-webfont.woff ) format('woff');
}

@font-face{
    font-family: 'Aller-bold-italico';
    src: url(assets/fonts/aller_bdit-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Aller-italico';
    src: url(assets/fonts/aller_it-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Aller-light';
    src: url(assets/fonts/aller_lt-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Aller-light-italico';
    src: url(assets/fonts/aller_ltit-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Aller-regular';
    src: url(assets/fonts/aller_rg-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Asap-bold';
    src: url(assets/fonts/asap-bold-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Asap-bold-italico';
    src: url(assets/fonts/asap-bolditalic-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Asap-italico';
    src: url(assets/fonts/asap-italic-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Asap-medio';
    src: url(assets/fonts/asap-medium-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Asap-regular';
    src: url(assets/fonts/asap-regular-webfont.woff) format('woff');
}

@font-face{
    font-family: 'Asap-semibold';
    src: url(assets/fonts/asap-semibold-webfont.woff) format('woff');
}


*{
    margin: 0;
    padding: 0;
}

body{
    /* background-image: url(assets/images/ondas\ com\ fundo\ transparente.png); */
    /* background-color: rgb(90, 90, 90); */
}

/* .site{
    overflow-x: auto;
    overflow-y: hidden;
} */

/* .titulo-site{
    font-family: Aller-regular;
    position: absolute;
    width: 300px;
    text-align: center;
    margin: 30px 0 0 0;
} */

.navegador{
    display: flex;
    background-color: #a3a3a37c;
    width: 100vw;
    height: 8vh;
    justify-content: center;
    text-decoration: none;
    position: fixed;
    align-items: center;
}

.logo{
    width: 13vw;
    margin: 0 20px;
}

.lista{
    justify-content: center;
    list-style-type: none;
    width: 100vw;
    display: flex;
}

/* .item-lista{
    
} */

/* :root {
    --primary-color: #7a60c5;

} */
.link{
    font-family: aller-regular;
    width: 14vw;
    height: 20px;
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: #74747400;
    margin: 7px;
    padding: 7px 5px 5px 5px;
    border: 3px solid black;
    border-radius: 50px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    transition: 500ms;
}

.link:hover{
    width: 12vw;
    height: 22px;
    transition: 300ms;
    font-size: 17px;    
    background-color: white;
    color: black;
    border: 3px solid white;
}

.corpo-site{
    display: flex;
}












